 html {
    height:90%;
}

.container-fluid {
    height: 90%;
}

body {
    font-family: proxima-nova, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-image: url("http://williamhcheng.com/resources/background3.png");
    background-size: cover;
    color: black;
    height:100%;
}

.float-right {
    float: right;
}

.row {
    height: 100%;
}

h3 {
    text-align: center;
}

.list-group-item {
}

header {
    padding-top: 1em;
    height:5em;
    width:auto;
    padding-bottom: 1em;
}

#logo {
    content: url("http://williamhcheng.com/resources/koalaudioBP.png");
    height: 100%;
    width: auto;
    margin: auto;
}

#mascot {}

#player {
    padding: 0em;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 0px 8px 35.7px 6.3px rgba(24, 138, 234, 0.6);
}

.italics {
    font-style: italic;
}

::-webkit-scrollbar {
    display:none;
}

#chat-messages {
    overflow-y: scroll;
    height: 60%;
}

#chat-form {
    width: 70%;
    float: left;

}

#chat-submit {
    width: 20%;
    float: right;
}

.col-md-8 {
    height:100%;
}

.col-md-4 {
    height:100%;
    border:solid 1px;
    border-color: #939393;
    padding: 25px;
    background-color:rgba(147,147,147,.3);
    border-radius: 5px;
}

#koala {
    content: url("koalaMusic.png");
    height: 100%;
    width: auto;
    margin: auto;
}