html {
    height:100%;
}

.container-fluid {
    height: 100%;
}

body {
    font-family: proxima-nova, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-image: url("resources/background1.png");
    background-size: cover;
    color: white;
    height:100%;
}

.float-right {
    float: right;
}

.row {
    height: 100%;
}

h3 {
    text-align: center;
}

.list-group-item {
    background-color: rgba(0,0,0,0);
    border: none;
}

header {
    padding-top: 1em;
    height:5em;
    width:auto;
    padding-bottom: 1em;
    background-color: rgba(0,0,0,.6)
}

#logo {
    content: url("resources/koalaudioBP.png");
    height: 100%;
    width: auto;
    margin: auto;
}

#mascot {}

#player {
    padding-top: 1em;
    padding-left: 1em;
    float: left;
    width: 100%;
}

.italics {
    font-style: italic;
}

#chat-messages {
    overflow-y: scroll;
    overflow:hidden;
    height: 60%;
}

#chat-form {
    width: 70%;
    float: left;
}

#chat-submit {
    width: 20%;
    float: right;
}

.col-md-4 {
    background-color: rgba(0,0,0,.3);
    height:100%;
}