body {
    padding: 2em;
}

.float-right {
    float: right;
}

#player {
    float: left;
    width: 100%;
}

.btn-toolbar {
    width: 100%;
}

.italics {
    font-style: italic;
}

#chat-messages {
    overflow-y: scroll;
    height: 28em;
}

#chat-form {
    width: 75%;
    float: left;
}

#chat-submit {
    width: 20%;
    float: right;
}